@import "compass";
@import "bootstrap";
@import "font-awesome";

@font-face {
    font-family: 'FuturaStdBook';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-book-webfont.woff') format('woff'),
         url('../fonts/futurastd-book-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

$global-radius: 4px;
$global-space: 20px;
$global-padding: 15px;
$aside-width: 100px;
$active-link-colour: #03A976;


html,
body {
	background: #DADADA;
}

body {
	padding: $global-space;
	@include clearfix();
	//font-family: 'Source Code Pro', sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a,
a.active {
	color: #3875D7;
	text-decoration: none;
}

a.active:hover {
	text-decoration: none;
}

a:hover,
a.active {
	color: $active-link-colour;
}

a:hover {
	text-decoration: underline;
}


aside {
	font-family: "FuturaStdBook", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.1em;
	width: $aside-width;
	position: fixed;
	top: $global-space;
	left: $global-space;

	nav {
		background: #030303;
		@include border-radius($global-radius);
		padding: 40px $global-padding;
		text-align: center;

		ul {

				&:before {
				content: '▲';
				color: white;
				font-size: 18px;
				display: block;
				padding-bottom: 25px;
			}
		}

		li {
			margin-bottom: 5px;

			&:nth-child(2):after {
				content: '_';
				display: block;
				color: #666666;
				margin-bottom: 15px;
				margin-top: 1px;
			}
		}

		a {
			color: white;
		}
	}
}

.main {
	@include border-radius($global-radius);
	background: white;
	margin-left: ($aside-width + $global-space);
	padding: $global-padding;

	a {
		color: #23ABCB;
	}

	h1 {
		margin-top: 0px;
		border-bottom: 5px solid #E1E3E6;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	article {
		position: relative;
		padding-left: 80px;

		h2 {
			border-bottom: 1px solid #DDDDDD;
			padding-bottom: 8px;
		}

		.date {
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			width: 50px;
			height: 50px;
			@include border-radius(25px);
			font-size: 11px;
			background: #9C7BA6;
			color: white;
			line-height: 14px;

			.day,
			.month {
				display: block;
			}

			.month {
				margin-top: 8px;
			}

			.day {
				font-size: 20px;
				font-weight: bold;
				line-height: 18px;
			}
		}

		.author,
		.category {
			color: #CDCDCD;
			@include inline-block();

			&:before {
				font-size: 16px;
				margin-right: 4px;
			}
		}

		.category {
			margin-left: 15px;

			&:before {
				vertical-align: inherit;
				margin-right: 1px;
			}

			ul {
				@include clearfix();
				@include inline-block();
			}

			li {
				float: left;

				&:not(:last-child):after {
					content: ',';
					margin-right: 3px;
				}
			}
		}

		.content {
			margin-top: 20px;

			a {
				background: #F3F3F3;
				@include border-radius(4px);
				padding: 0px 4px;
				font-weight: bold;
			}
		}
	}
}