<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>_kud.blog -- {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
        <link href="{{site.baseurl}}/feed.xml" rel="alternate" type="application/rss+xml">
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="{{site.baseurl}}/" class="active">Blog</a></li>
                    <li><a href="{{site.baseurl}}/archives">Archives</a></li>
                    <li><a href="http://www.kud.fr">Profile</a></li>
                    <li><a href="https://www.github.com/kud">Github</a></li>
                    <li><a href="https://www.twitter.com/_kud">Twitter</a></li>
                </ul>
            </nav>
        </aside>
        <section class="main">
            <h1>Blog</h1>
            {{ content }}
        </section>
        <script src="{{site.baseurl}}/js/script.js"></script>
    </body>
</html>