<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="The tale of a frontend dev.">
        <meta name="keywords" content="dev,css,css3,html,html5,api,javascript,js,zepto,jquery,backbone,nodejs,node,frontend,front">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>_kud.blog -- {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
        <link href="{{site.baseurl}}/feed.xml" rel="alternate" type="application/rss+xml">
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="{{site.baseurl}}/" class="active">Blog</a></li>
                    <li><a href="{{site.baseurl}}/archives">Archives</a></li>
                    <li><a href="http://www.kud.fr">Profile</a></li>
                    <li><a href="https://www.github.com/kud">Github</a></li>
                    <li><a href="https://www.twitter.com/_kud">Twitter</a></li>
                </ul>
            </nav>
        </aside>
        <section class="main">
            <h1><a href="{{site.baseurl}}/">Blog</a></h1>
            {{ content }}
        </section>
        <script src="{{site.baseurl}}/js/script.js"></script>
    </body>
</html>