---
layout: default
---
<article>
	<h2>{{ page.title }}</h2>
	<div class="date">
        <span class="decoration">
            <span class="month">{{ page.date | date: "%b" }}</span>
            <span class="day">{{ page.date | date: "%d" }}</span>
        </span>
        <span class="year">{{ page.date | date: "%Y" }}</span>
    </div>
	<div class="author">By <a href="http://www.kud.fr">Erwann MEST</a></div>
    {% if page.tags != empty %}
	<div class="category">
		<ul>
            {% for item in page.tags %}
                <li><a href="#">{{ item }}</a></li>
            {% endfor %}
		</ul>
	</div>
    {% endif %}
	<div class="content">
		{{ content }}
	</div>
</article>