---
layout: default
---
<article>
	<h2>{{ page.title }}</h2>
	<div class="date">
        <span class="decoration">
            <span class="month">{{ page.date | date: "%b" }}</span>
            <span class="day">{{ page.date | date: "%d" }}</span>
        </span>
        <span class="year">{{ page.date | date: "%Y" }}</span>
    </div>
	<div class="author">By <a href="http://www.kud.fr">Erwann MEST</a></div>
    {% if page.tags != empty %}
	<div class="category">
		<ul>
            {% for item in page.tags %}
                <li><a href="#">{{ item }}</a></li>
            {% endfor %}
		</ul>
	</div>
    {% endif %}
	<section class="content">
		{{ content }}
	</section>
    <section class="report">
        Any feedbacks, errors, typo, thanks, please contact me on twitter at <a href="https://www.twitter.com/_kud/">@_kud</a>.
    </section>
    <section class="about-author">
        <img src="https://fr.gravatar.com/userimage/10327718/b7a61a57884f7e973154b1d737f8c380.jpeg" alt="" class="pic"> Erwann is an ex-backend dev transformed into frontend dev who works at <a href="http://www.playmedia.fr">playmedia</a>, company editing <a href="http://www.playtv.fr">playtv.fr</a>. When he knew that web standards will be able to create mobile applications, he jumped into his first love and came back to the frontend scene. Now with these two domain experiences, he tries to do his best by creating frontend applications with quality and by using his backend experience to create tools to help him everyday. He admits too that speaking himself in third-person is fun and that this bio is totally crap.
    </section>
</article>