.main {
    @include border-radius($global-radius);
    background: white;
    padding: $global-padding;
    color: #565656;
    max-width: 700px;
    margin: auto;

    a {
        color: #000000;
    }

    h1 {
        margin-top: 0px;
        border-bottom: 5px solid #E1E3E6;
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: #000000;

        a {
            color: #000000;
        }
    }

    .posts {
        @extend %icon-container;
        padding-bottom: 60px;

        .fir-tree {
            @extend %icon;
            @extend .icon-fir-tree;
            top: auto;
            bottom: 0;
            left: 0;
            font-size: 22px;
            width: 100%;
            height: 20px;
            margin-top: -30px;
            padding-top: 40px;
            text-align: center;
            color: #6E6D6B;
            display: block;

            &:hover {
                -moz-animation:russia 0.7s ease infinite;
                -webkit-animation:russia 0.7s ease infinite;
            }
        }
    }

    .posts-list {
        .time {
            width: 110px;
            text-align: right;
            margin-right: 10px;
            @include inline-block();
            font-size: 0.8em;
            vertical-align: text-bottom;
        }

        .title {
            @include inline-block();
        }
    }
}

@-moz-keyframes russia {
    0% {bottom: 0px;}
    50%  {bottom: 10px;}
    100%   {bottom: 0px;}
}
@-webkit-keyframes russia {
    0% {bottom: 0px;}
    50%  {bottom: 10px;}
    100%   {bottom: 0px;}
}