@import "compass";
@import "_components/_normalize";
@import "_components/_fontcustom";
@import "_components/_pygments";
@import "_code";

@font-face {
    font-family: 'FuturaStdBook';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-book-webfont.woff') format('woff'),
         url('../fonts/futurastd-book-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

$global-radius: 4px;
$global-space: 20px;
$global-padding: 15px;
$aside-width: 100px;
$active-link-colour: #03A976;


html,
body {
	background: #F0F2F6;
}

body {
	padding: $global-space;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a,
a.active {
	color: #3875D7;
	text-decoration: none;
}

a.active:hover {
	text-decoration: none;
}

a:hover,
a.active {
	color: $active-link-colour;
}

a:hover {
	text-decoration: underline;
}

%icon {
    position: relative;

    &:before {
        font-family: "fontcustom";
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@import "_aside";
@import "_main";
@import "_article";

@media screen and (max-width: 640px) {
    body {
        padding: 5px;
    }

    aside {
        position: static;
        top: auto;
        left: auto;
        width: auto;
        font-size: 11px;

        nav {
            padding: 10px;

            ul {
                @include clearfix();
                @include inline-block();

                &:before {
                    padding-bottom: 5px;
                }

                li {
                    float: left;
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:nth-child(2):after {
                        display: none;
                    }
                }
            }
        }
    }

    .main {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 0.9em;

        .posts {
            .time {
                width: auto;
            }

            li {
                margin-bottom: 10px;
            }
        }
    }

    article {
        @include clearfix();
        padding: 0px;

        h1 {
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 0px;
        }

        .date {
            position: static;
            left: auto;
            top: auto;
            float: left;
            margin: 0 5px 5px 0;
        }

        .category,
        .author {
            display: block;
            margin-left: 55px;
        }

        .category {
            margin-top: 10px;
        }
    }
}