<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>{{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="/" class="active">Blog</a></li>
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="http://www.kud.fr">Profile</a></li>
                    <li><a href="https://www.github.com/kud">Github</a></li>
                    <li><a href="https://www.twitter.com/_kud">Twitter</a></li>
                </ul>
            </nav>
        </aside>
        <section class="main">
            {{ content }}
        </section>
        <script src="js/script.js"></script>
    </body>
</html>