@import "compass";
@import "../components/normalize.scss/_normalize.scss";
@import "_fontcustom";
@import "_pygments";
@import "_code";

%icon-container {
    position: relative;
}

%icon {
    font-family: "fontcustom";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-book-webfont.woff') format('woff'),
         url('../fonts/futurastd-book-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

$global-radius: 4px;
$global-space: 20px;
$global-padding: 15px;
$aside-width: 100px;
$active-link-colour: #03A976;

html {
    background: url(../img/forest_2.png) no-repeat center center fixed;
    background-size: cover;
    font-family: "FuturaStdBook",Arial,sans-serif;
}

html,
body {
	//background: #F0F2F6;
}

body {
	padding: $global-space;

    &:after {
        @extend %icon;
        @extend .icon-wolf:before;
        position: fixed;
        bottom: 5px;
        right: 5px;
        color: white;
        left: auto;
        top: auto;
        font-size: 28px;
    }
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a,
a.active {
	color: #3875D7;
	text-decoration: none;
}

a.active:hover {
	text-decoration: none;
}

a:hover,
a.active {
	color: $active-link-colour;
}

a:hover {
	text-decoration: underline;
}

@import "_aside";
@import "_main";
@import "_article";

@media screen and (max-width: 1000px) {
    html {
        background: #BEBBB8;
    }

    body {
        padding: 5px;
    }

    aside {
        position: static;
        top: auto;
        left: auto;
        width: auto;
        font-size: 11px;
        margin-left: 0px;

        nav {
            padding: 10px;

            ul {
                @include clearfix();
                @include inline-block();

                &:before {
                    padding-bottom: 5px;
                }

                li {
                    float: left;
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:nth-child(1):after {
                        display: none;
                    }
                }
            }
        }
    }

    .main {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1em;
        max-width: 1000px;

        h1 {
            font-size: 1.3em;
        }

        .posts {
            .time {
                width: auto;
            }

            .title {
                display: block;

                &:before {
                    content:"↳";
                    margin-right: 5px;
                    @include inline-block();
                    font-size: 1.2em;
                    line-height: 0.7em;
                    vertical-align: baseline;
                }
            }

            li {
                margin-bottom: 10px;
            }
        }
    }

    article {
        padding: 0px;

        h1 {
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 0px;
        }

        .date {
            position: static;
            left: auto;
            top: auto;
            float: left;
            margin: 0 10px 10px 0;
        }

        .category,
        .author {
            display: block;
            margin-left: 70px;
        }

        .category {
            margin-top: 10px;
        }

        .content {
            clear: both;

            img {
                @include box-shadow(none);
            }
        }
    }
}

@import "_bonus";