<!DOCTYPE html>
<html lang="en" class="bonus">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Manifest of a frontend dev.">
        <meta name="keywords" content="dev,css,css3,html,html5,api,javascript,js,zepto,jquery,backbone,nodejs,node,frontend,front">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>_kud.blog -- {{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
        <link href="{{site.baseurl}}/feed.xml" rel="alternate" type="application/rss+xml">
    </head>
    <body>
        {{content}}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25156890-3']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>